<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
   <appender name="dailyRollingFileAppender"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
            <!-- <File>/tmp/mylog/wolf-rest-demo.log</File> -->
        <File>/home/assistanz/tomcat/wolf/wolf-rest-demo.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <FileNamePattern>/home/assistanz/tomcat/wolf/wolf-rest-demo.%d{yyyy-MM-dd}.log</FileNamePattern>

            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <Pattern>%d{dd-MM-yy HH:mm:ss} [%thread] %-5level %X{X-B3-TraceId:-} %X{X-B3-SpanId:-} wolf ${PID:-} %logger{35} - %msg %n
            </Pattern>
        </encoder>
    </appender>
   <logger name="com.wolf" additivity="false">
        <level value="TRACE" />
         <appender-ref ref="dailyRollingFileAppender"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.springframework.data.mongodb">
        <level value="INFO" />
    </logger>

    <root>
        <level value="INFO" />
        <appender-ref ref="CONSOLE"/>
           </root>
</configuration>
